Checks: "clang-diagnostic-*,clang-analyzer-*,readability-*,cppcoreguidelines-*,modernize-*,bugprone-*,google-*,performance-*,-bugprone-macro-parentheses,-readability-magic-numbers,-readability-uppercase-literal-suffix,-cppcoreguidelines-pro-type-union-access,-readability-identifier-length,-bugprone-easily-swappable-parameters,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-pro-type-reinterpret-cast,-cppcoreguidelines-pro-bounds-constant-array-index,-bugprone-unchecked-optional-access,-cppcoreguidelines-non-private-member-variables-in-classes,-google-build-using-namespace,-cppcoreguidelines-pro-type-vararg,-readability-implicit-bool-conversion"
WarningsAsErrors: false
HeaderFilterRegex: "include/mc/**/*.hpp"
AnalyzeTemporaryDtors: false
FormatStyle: file
UseColor: true
