[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/jdah"]
	path = external/jdah
	url = https://github.com/jdah/minecraft-weekend
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/vulkan_hpp"]
	path = lib/vulkan_hpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp
[submodule "external/VulkanTutorial"]
	path = external/VulkanTutorial
	url = https://github.com/Overv/VulkanTutorial
[submodule "lib/tinyobjloader"]
	path = lib/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "lib/magic_enum"]
	path = lib/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "lib/assimp"]
	path = lib/assimp
	url = https://github.com/assimp/assimp
[submodule "lib/glslang"]
	path = lib/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "lib/tracy"]
	path = lib/tracy
	url = https://github.com/wolfpld/tracy
[submodule "lib/stb/stb"]
	path = lib/stb/stb
	url = https://github.com/nothings/stb
[submodule "external/vkguide"]
	path = external/vkguide
	url = https://github.com/vblanco20-1/vulkan-guide
[submodule "lib/imgui/imgui"]
	path = lib/imgui/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
